<h1>
  <%= @artist.name %>
</h1>
<hr>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
<% end %>

<h4>Songs in database</h4>
<%= render @artist.songs %>

<h4>Add a song:</h4>
<%= render 'songs/form' %>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
